{% include "partial/forehead.html" %}
	{% if fb_user %}
		hello {{ fb_user.displayname }}
	{% else %}
		Please Login to play this game!<br/>
		<fb:login-button size="xlarge" autologoutlink="true" scope="publish_stream,email" ></fb:login-button>
		<div id="fb-root"></div>

	{% endif %}
<!-- init facebook authen -->

<script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
                 xfbml: true});
        FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          {% if current_user %} window.location = "/logout" {% else %} window.location.reload(); {% endif %}
        });
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
</script>



{% include "partial/tail.html" %}




