{% extends "home.html" %}
{% block bodycontent %}	

<div id="report-content" class="container-fluid">
	{% if graphs %}
	<div class="alert alert-info" role="alert">
	You have created {{ user.graph_created }} graph(s).
	</div>
	<div class="panel-group">
		{% for graph in graphs %}
		<div class='panel panel-info'>
			<div class="panel-heading">
				<h4 class='panel-title'>
					<a data-toggle='collapse' data-parent='.panel-group' href='#panels{{ graph.graphID }}'>
<table class="text-center table table-striped table-hover">	
	<tr>
		<td>ID#</td>
		<td>Name</td>
		<td>number of paths</td>
		<td>number of machines</td>
		<td>number of services</td>
	</tr>
	<tr>
		<td>{{ graph.graphID }}</td>
		<td>{{ graph.name }}</td>
		<td>{{ graph.path_hold }}</td>
		<td>{{ graph.machine_hold }}</td>
		<td>{{ graph.service_hold }}</td>
	</tr>
</table>
					</a>
				</h4>
			</div>
		</div>
		<div id='panels{{ graph.graphID }}' class='panel-collapse collapse'>
			<div class='panel-body'>
				<h1 class="text-center">Statistics <i class="glyphicon glyphicon-th-list"></i></h1>
				<hr>
				<h3>Waypoint summary</h3>
				<table class="text-center table table-bordered">
<tr>
	<td>Waypoint ID</td>
	<td>play_by</td>
	<td>score</td>
	<td>play count</td>
	<td>total turn</td>
	<td>total impact</td>

</tr>
{% for waypoint_report in waypoint_reports %}
	{% if waypoint_report.graph_id == graph.graphID %}
<tr>
	<td>{{ waypoint_report.waypointID }}</td>
	<td>{{ waypoint_report.play_by }}</td>
	<td>{{ waypoint_report.score }}</td>
	<td>{{ waypoint_report.play_count }}</td>
	<td>{{ waypoint_report.total_turn }}</td>
	<td><span 
	{% if waypoint_report.total_impact / waypoint_report.maximum_impact < 0.33 %} 
	style="color:green" 
	{% elif waypoint_report.total_impact / waypoint_report.maximum_impact < 0.66 %} 
	style="color:orange" 
	{% else %}
	style="color:red" 
	{% endif %}>{{ waypoint_report.total_impact }} / {{ waypoint_report.maximum_impact }}</span></td>
</tr>
	{% endif %}							
{% endfor %}
				</table>

<h3>Map summary</h3>
<hr>
				<table class="text-center table table-bordered">
<tr>
	<td>Map ID</td>
	<td>play count</td>
	<td>average score</td>
	<td>average total turn</td>
	<td>average total impact</td>
</tr>
<!-- Iterate map report her -->
{% for map_report in map_reports %}
	{% if map_report.graph_id == graph.graphID %}
<tr>
	<td>{{ map_report.mapID }}</td>
	<td>{{ map_report.play_count }}</td>
	<td>{{ map_report.avg_score|round(2, 'floor') }}</td>
	<td>{{ map_report.avg_total_turn|round(2, 'floor') }}</td>
	<td><span
	{% if map_report.total_impact / map_report.maximum_impact > 0.66 %}
		style="color:red"
	{% elif map_report.total_impact / map_report.maximum_impact > 0.33 %}
		style="color:orange"
	{% else %}
		style="color:green"
	{% endif %}> {{ map_report.avg_total_impact|round(2, 'floor') }} / 10</span></td>
</tr>
	{% endif %}							
{% endfor %}	
				</table>
<hr>
<h3>CVE summary</h3>
<hr>
<div class="row">
	<div id="pie-canvas-container" class="col-md-4 col-md-offset-2">
		<canvas id="solTypeChart{{graph.graphID}}" width="400" height="400"></canvas>
	</div>
	<div class="col-md-4">
	{% for soltype_report in soltype_reports %} 
		{% if soltype_report.mapID == graph.graphID %}
			{% if soltype_report.cve_id != "undefined" %}	
			<div class="alert alert-info">
				<div class="graph-color-circle" style="float:left;width:10px;height:10px;border-radius:100%;background-color:#{{pallettes[loop.index]}};margin-right:20px;" ></div>#{{loop.index}} CVE-{{ soltype_report.cve_id }}  {{ soltype_report.counting }} hit(s) <br/>
			</div>
			{% endif %}
		{% endif %}
	{% endfor %}
	</div>
</div>
<div class="row">
	<table class="text-center table table-bordered">

	<tr>
		<td>CVE ID</td>
		<td>Machine Name</td>
		<td>CWE Name</td>
		<td>Total Impact</td>
		<td>hits</td>
	</tr>

	{% for soltype_report in soltype_reports %} 
		{% if soltype_report.mapID == graph.graphID %}
	<tr>
		{% if soltype_report.cve_id != "undefined" %}
			<td>{{ soltype_report.cve_id}}</td>
		{% else %}
			<td></td>
		{% endif %}
		<td>{{ soltype_report.service_name}}</td>
		<td>{{ soltype_report.cwe_name}}</td>
		<td>{{ soltype_report.solType_impact}} / {{ soltype_report.counting * 9 }}</td>
		<td>{{ soltype_report.counting}}</td>
	</tr>
		{% endif %}
	{% endfor %}
	</table>
</div>
<script>
	

</script>

<h3>Path summary</h3>
<hr>				
				<table class="text-center table table-bordered">

<tr>
	<td>Path ID</td>
	<td>Availability Impact</td>
	<td>Integrity Impact</td>
	<td>Confidentialy Impact</td>
	<td>hits</td>
</tr>
{% for path_report in path_reports %}
	{% if path_report.graph_id == graph.graphID %}
<tr>
	<td>{{ path_report.pathID }}</td>
	<td>{{ path_report.ai}}</td>
	<td>{{ path_report.ii}}</td>
	<td>{{ path_report.ci}}</td>
	<td>{{ path_report.counting}}</td>
</tr>
	{% endif %}
{% endfor %}
</table>
			</div>
		</div>
<script>


	var soltypedata{{graph.graphID}} = [
		{% for soltype_report in soltype_reports %}
			{% if soltype_report.mapID == graph.graphID %}
				{% if soltype_report.cve_id != "undefined" %}

		    {
		        value: {{ soltype_report.counting }},
		        color:"#{{pallettes[loop.index]}}",
		        label: "{{ soltype_report.cve_id}}"
		    } , 

		    	{% endif %}
			{% endif %}
		{% endfor %}	
		]	
	



</script>
<script>
var ctx{{graph.graphID}} = document.getElementById("solTypeChart{{graph.graphID}}").getContext("2d");
var myPieChart{{graph.graphID}} = new Chart(ctx{{graph.graphID}}).Pie(soltypedata{{graph.graphID}});

</script>
<a onclick="window.open ('static/graphical-report.html?map_id={{graph.graphID}}', 'newwindow', config='height=800,width=1054, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no')"> View graphical report </a>
		{% endfor %}

	</div>

	{% else %}
	<div class="alert alert-danger" role="alert">
		You don't have any graph.
	</div>
	{% endif %}
</div>



{% endblock %}




