.jumbotron {
	background-color:#428bca;
	color:white;
	border-radius:5px;

}

.input-group {
	margin-bottom:5px;

}

.white {
	background-color:black;
	color:white;
	border-radius:0;
}

.tab-pane {
	padding:10px;
}

.nav .dropdown-menu {
	z-index:150;

}

.panel {
	margin:10px;
}

.modal-vertical-centered {
	transform: translate(0, 50%) !important;
	-ms-transform: translate(0, 50%) !important; /* IE 9 */
	-webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}

.modal-dialog {
	z-index:1500;
}

.tab-content {
background-color:#eee;	
}
