<!doctype html>
<html>
<head>

	<title>Cyber Security War Game</title>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
	<html xmlns="http://www.w3.org/1999/xhtml">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.js"></script> 
	<link rel="stylesheet" href="/static/fontLibrary.css">
	<!-- bootstrap CDN -->
			
	<!-- setup less css -->
	<link rel="stylesheet/less" type="text/css" href="/static/style.less" />
	<link rel="stylesheet/less" type="text/css" href="/static/add-graph.less" />
	<link rel="stylesheet/less" type="text/css" href="/static/report.less" />
	<link rel="stylesheet/less" type="text/css" href="/static/dashboard.less" />
	<script src="/static/less.js" type="text/javascript"></script>

	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	
	<!-- google font api -->
	<!-- Karla -->
	<link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<!-- Mystery+Quest -->
	<link href='http://fonts.googleapis.com/css?family=Mystery+Quest' rel='stylesheet' type='text/css'>
	<!-- Lemon font -->
	<link href='http://fonts.googleapis.com/css?family=Lemon' rel='stylesheet' type='text/css'>
	
	<script src="/static/js/Chart.js/Chart.js"></script>

	<!-- fullPage.js -->
	<link rel="stylesheet" type="text/css" href="/static/js/fullPage.js/jquery.fullPage.css" />
	<script src="/static/js/fullPage.js/vendors/jquery.easings.min.js"></script>
	<script type="text/javascript" src="/static/js/fullPage.js/jquery.fullPage.min.js"></script>	
	
	<!-- Sweet Alert-->
	<script src="/static/js/sweetalert/lib/sweet-alert.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/sweetalert/lib/sweet-alert.css" />
	<link rel="stylesheet" type="text/css" href="/static/custom.css" />



</head>
<body>
	
	{% include "partial/header.html" %}
	{% if user %}
		<div class="dashboard-wrapper">
			<div class="dashboard-main">
			 	<div style="display:none" class="loading-img">
			<img src="/static/images/ajax-loader.gif"></img>
		</div> 
				{% include "partial/dashboard-menu.html" %}
		{% block bodycontent %}
			<div id="home-content" class="container-fluid">
				<div class="col-md-12">
		          <ul class='nav nav-tabs'>
		            <li class='active'><a href='#graph'>Manage Graph</a></li>
		            <li><a href='#manage-graph'>History</a></li>
		            <!--<li><a href='#statistics'>Statistics</a></li>-->
		          </ul>
			
					<div class='tab-content'>
						<div class='tab-pane fade in active' id='graph'>
						<br/>
<div class="row">
	<div class="col-md-2">
	<button type="button" class="btn btn-primary text-center graph-manage-button" id="create-graph-button" data-toggle="modal" data-target="#addNewGraph">
	  	<i class="glyphicon glyphicon-plus"></i><br/>
	  	Add New Graph
	</button>
	</div>
</div>
<br/>

<!-- Modal -->
<div class="modal fade" id="addNewGraph" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
  <div class="modal-dialog modal-vertical-centered">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Graph</h4>

      </div>

      <div id="add-graph-modal" class="modal-body" id="add-graph-modal" >
<form id="add-new-graph-form" method="post" action="/create-graph">
	<div class="form-group">
		<label for="graph-name">Choose name for your new graph</label>
		<input name="graph-name" class="form-control" id="graph-name" placeholder="Name of your new graph">
<!-- working here -->
		<input name="api_key" value="{{ user.APIkey }}" class="hidden">
	</div>
</form>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="add-graph-submit" type="button" class="btn btn-primary">Create New Graph</button>
      </div>
    </div>
  </div>
</div>


							{% if graphs %}
							<div class="alert alert-info" role="alert">
								You have created {{ user.graph_created }} graph(s).
							</div>
							<h2>Avaiable Graphs</h2>
							<table class="text-center table table-striped table-hover">
								
								<tr>
									<td>ID#</td>
									<td>Name</td>
									<td>Number of paths</td>
									<td>Number of machines</td>
									<td>Number of services</td>
									<td>Edit</td>
									<td>Delete</td>
								</tr>
								
								{% for graph in graphs %}
								
									<tr>
										<td>{{ graph.graphID }}</td>
										<td><a href="/graph-profile?id={{graph.graphID}}">{{ graph.name }}</a></td>
										<td>{{ graph.path_hold }}</td>
										<td>{{ graph.machine_hold }}</td>
										<td>{{ graph.service_hold }}</td>											
										<td><a href="/edit-graph?id={{graph.graphID}}"><i class="glyphicon glyphicon-edit"></i></a></td>
										<td><a href="/delete-graph?id={{graph.graphID}}"><i class="glyphicon glyphicon-remove"></i></a></td>											
									</tr>
								
								{% endfor %}
							</table>
							{% else %}
								<div class="alert alert-info" role="alert">You don't have any graphs!
								</div>
							{% endif %}
						</div>
						<div class='tab-pane fade' id='manage-graph'>
							<div class="manage-graph-panel">
<!-- Button trigger modal -->
							
							</div>
						</div>
						<!--
						<div class='tab-pane fade' id='statistics'>
							<div class="alert alert-danger" role="alert">Under Construction!
							</div>
						</div>
						-->
					</div>

				</div>

			</div>
		{% endblock %}
	{% else %}
		<div class="content-wrapper">
			<div class="content-inner">
				{% include "page/login.html" %}
			</div>
		</div>
	{% endif %}
		</div>




	</div>
</body>

<script src="/static/dashboard.js"></script>
<script src='/static/js/bootstrap.min.js'></script>
<script>

  $(function() {
    $('.nav-tabs a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });
  });


</script>
</body>