<div id="dashboard-xxx" class="container-fluid menu-holder" data-page="{{url}}">
	<div class="row">
		<a href="/admin">
			<div id="dashboard-home" class="col-md-1 dashboard-menu">
				<i class="fa fa-home fa-3x"></i><br/>
				Home
			</div>
		</a>
		<a href="/api">
			<div id="dashboard-api" class="col-md-1 dashboard-menu">
				<i class="fa fa-book fa-3x"></i><br/>
				Document
			</div>
		</a>						
		<a href="/overall-report">
			<div id="dashboard-report" class="col-md-1 dashboard-menu">
				<i class="fa fa-bar-chart-o fa-3x"></i><br/>
				Report
			</div>
		</a>
	</div>
</div>